/*-------------------------------------------------------*/
/*---------------------Navitations Menü-------------------------------*/

#nav-andereprojekte{
  background-color: rgb(40, 137, 141); /*Dunkel Türkis*/;
}

h1{
  margin-top: 150px;
  text-align: center;
}
