/*-------------------------------------------------------*/
/*---------------------Navitations Menü-------------------------------*/

#nav-impressum{
  background-color: rgb(40, 137, 141); /*Dunkel Türkis*/;
}

/*-------------------------------------------------------*/
/*---------------------Navitations Main-------------------------------*/

h4 {
  margin-top: 170px;
  font-size: 50px;
  text-align: center;
}

#foot-kasten{
  margin-top: 800px;
}
